<div id="top_bar">
    <div id="top_left_logo"
        {# hx-get="/components/top_bar/popup_show.html"
        hx-trigger="click"
        hx-target="#top_bar #popup"
        hx-swap="outerHTML" #}
        onclick="
            let popup = document.querySelector('#top_bar #adding_popup');
            console.log(popup);
            if (popup.classList.contains('hide')) {
                popup.classList.remove('hide');
            } else {
                popup.classList.add('hide');
            }
        "
    >
        {% include "/img/small_logo.svg" %}
    </div>
    {% include "/components/top_bar/adding_popup.html" %}
</div>