<div id="top_bar">
    <div id="top_left_logo"
        onclick="
            let popup = document.querySelector('#top_bar #adding_popup');
            console.log(popup);
            if (popup.classList.contains('hide')) {
                popup.classList.remove('hide');
            } else {
                popup.classList.add('hide');
            }
        "
    >
        {% include "/img/small_logo.svg" %}
    </div>
    {% from "/components/top_bar/adding_popup.html" import adding_popup %}
    {{ adding_popup(selected) }}
</div>