<div id="adding_popup" {#class="hide"#}>
    <ul class="category_selector">
        <li class="selected">CLASSE</li>
        <li>ÉLÈVE</li>
    </ul>
    <div class="content">
        {% include "/components/top_bar/adding_popup/classe_content.html" %}
    </div>
</div>