{% macro adding_popup(selected="ÉLÈVE") %}
<div id="adding_popup" {#class="hide"#}>
    <ul class="category_selector">
        {% for item in ['ÉLÈVE', 'CLASSE', 'DEVOIR'] %}
                <li class="{{"selected" if item == selected else ""}}"
                    hx-get="/components/top_bar/adding_popup.html?selected={{item}}"
                    hx-target="#adding_popup"
                    hx-swap="outerHTML"
                >{{item}}</li>
        {% endfor %}
    </ul>
    <div id="content">
        {% from "/components/top_bar/adding_popup/content.html" import content %}
        {{ content(selected) }}
    </div>
</div>
{% endmacro %}
{{ adding_popup(selected) }}
