html, body {
    height: 100%;
    margin: 0;
    font-family: "Rubik";
    background-color: #282828;
    display: flex;
    flex-flow: column;
}

#top_bar {
    background-color: #19AA67;
    padding: 0.3rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 0.7rem 0.7rem;

    #top_left_logo {
        width: 4rem;
        height: 4rem;
    }
    #top_left_logo:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    #top_left_logo:active {
        transform: scale(1.1) translateY(2px);
    }
    // create a little popup window when clicking on the logo
    #adding_popup {
        display: block;
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        height: auto;
        background-color: #19AA67;
        border-radius: 0 0 0.7rem 0.7rem;

        ul.category_selector {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                float: left;
                padding: 0.5rem;
                color: #323835;
                font-size: 18px;
                &:hover {
                    cursor: pointer;
                    color: #FFFFFF;
                }
            }
            li.selected {
                // underline the selected category in green
                border-color: #323835;
                border-style: solid;
                border-width: 0 0 0.4rem 0;
            }
        }
        #content {
            padding: 1rem;
            form {
                display: flex;
                flex-direction: column;
                .entry {
                    label {
                        color: #323835;
                        font-size: 18px;
                        margin: 0.5rem 0;
                    }
                    input {
                        border-radius: 0.5rem;
                        border: none;
                        padding: 0.2rem;
                        margin: 0.5rem 0;
                        font-size: 1rem;
                    }
                }
                input.submit {
                    border-radius: 0.5rem;
                    border: none;
                    padding: 0.5rem;
                    margin: 0.5rem 0;
                    font-size: 1.2rem;
                    background-color: #323835;
                    color: #FFFFFF;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    #adding_popup.hide {
        display: none;
    }
}

#timetable {
    #filter_panel {
        display: flex;
        width: 15rem;
        margin: 3rem 1.5rem;
        background: #323835;
        border-radius: 25px;
        flex: 1 1 auto;

        #filter_panel_title {
            color: #FFFFFF;
            font-size: 24px;
            margin: 2rem auto;
        }
    }
}